<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>

        a {
            text-decoration: none;
            color: blue;
            font-size: 18px;
        }

        a:hover {
            color: darkblue;
            text-decoration: underline;
        }

        a.btn-link {
            display: inline-block;
           
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease;
        }

        a.btn-link:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <a href="/movie/form" class="btn-link">Form</a>
    <a href="/movie" class="btn-link " >movie list</a>
</body>

</html>